{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'images/OpenBill.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/disenoHome.css' %}"/>
    <title>Home</title>
</head>
<body>
    <section class="header">
        <div class="banner">
            <nav>
                <img src="{% static 'images/OpenBill8.png' %}">
                <h1>Bienvenido {{nombre}} a la sección de estadísticas</h1>
                <div class="nav-links" id="nav-links">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16" onclick="hideMenu()">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                    <ul>
                        <li><a href="/login/">LOG-OUT</a></li>
                    </ul>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16" onclick="showMenu()">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                </svg>
            </nav>
        </div>
        <div class="row">
        <div class="estadisticasIndividuales">
            {% if  graficasPersonales %}
                {% block content2 %}
                    {% for key, value in graficasPersonales.items %}
                        <h3> {{ key }} </h3>
                        <img src="data:image/png;base64, {{value|safe}}">
                    {% endfor %}
                {% endblock content2 %}
            {% endif %}
        </div>
        </div>
    </section>
    <script>
        var navLinks = document.getElementById("nav-links");
    
        function showMenu()
        {
            navLinks.style.right = "0";
        }
        function hideMenu()
        {
            navLinks.style.right = "-200px";
        }
    </script>
</body>
</html>